/* App.scss */
.container {
  display: grid;
  grid-template-columns: 6fr 12fr;
  height: 100vh;

  .title {
    font-size: 24px;
    color: rgb(197, 211, 227);
    padding-top: 0;
    margin-top: 0;
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    background-color: rgb(30, 28, 32);
    padding-bottom: 80px;
  }

  .bg-white {
    background-color: #fff;
  }

  .col-2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 25px 15px;

    .new-playground {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #b6b1b1;
    }

    .folders-listing {
      overflow-y: scroll;
      height: 86vh;
      padding-left: 4px;
    }

    .playground-title {
      font-size: 30px;
    }
    .folder-info {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-top: 12px;
    }
    .folder-title {
      font-size: 22px;
      line-height: 0px;
    }
    .folder-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    .folder-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .folder-icon:hover {
      transform: scale(1.1);
      transition: 0.5s;
      color: rgb(97, 100, 101);
    }

    .file-title {
      font-size: 20px;
      margin: 12px 0px;
      padding: 0;
      line-height: 0;
    }

    .op-icon {
      font-size: 18px;
      margin-right: 3px;
    }

    .op-icon:hover {
      transform: scale(1.5);
      transition: 0.5s;
      color: rgb(97, 100, 101);
    }

    .icon {
      margin-top: 10px;
      cursor: pointer;
    }

    .lan-icon {
      font-size: 40px;
      padding: 0px 14px;
    }

    .language {
      color: rgb(127, 139, 154);
    }

    .file {
      display: flex;
      align-items: center;
      background: rgb(252, 248, 248);
      justify-content: space-between;
      width: 250px;
      border-radius: 7px;
      height: 60px;
      border: 1px solid gainsboro;
      padding: 12px;
      cursor: pointer;
      margin: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth transition for zoom and shadow effects
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .file:hover {
      transform: scale(1.1);
    }
    .file-info {
      display: flex;
      justify-items: space-between;
    }
  }
  .btn,
  .add {
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .btn:hover,
  .add:hover {
    transform: scale(1.1); /* Scale up the button on hover */
    transition: 0.6s;
  }
}

// Media query for responsiveness
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; // Single column layout for small screens
    height: auto; // Adjust height for small screens
  }
}

.modal {
  position: relative;
  .modal-row {
    width: 340px;
    span {
      color: red;
    }
  }
  .close-button {
    position: absolute;
    top: 16px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 340px;

    h1 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1.5rem;
      // text-align: center;
    }

    div {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: #666;
        font-size: 0.9rem;
      }

      input,
      select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        box-sizing: border-box;

        &:focus {
          outline: none;
          border-color: #007bff;
          box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
      }
    }

    button {
      width: 100%;
      padding: 0.75rem;
      // background-color: #0067;
      background-color: rgb(113, 119, 233);
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        // background-color: #0056b3;
        background-color: rgb(90, 110, 233);
      }
    }
  }
}

.delete-button {
  background-color: rgb(201, 33, 33) !important;
}
.delete-button:hover {
  background-color: rgb(254, 0, 0) !important;
  transition: 0.6s;
}
