/* NavbarContainer */
.navbar-container {
  height: 4.5rem;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container.fullscreen {
  height: 0;
}

/* NavbarContent */
.navbar-content {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Logo */
.logo {
  width: 60px;
}

/* MainHeading */
.main-heading {
  font-size: 1.9rem;
  font-weight: 900;
  color: rgb(197, 211, 227);
  padding-top: 8px;
}

.main-heading span {
  font-weight: 700;
}

.playground-container {
  display: grid;
  grid-template-columns: 12fr 6fr;
  grid-template-rows: 1fr auto; // Changed this
  height: 90vh;

  .result {
    display: flex;
    flex-direction: column;
    overflow: auto; // Add this to allow scrolling if content overflows

    .container {
      display: flex;
      flex-direction: column;

      .nav {
        background-color: whitesmoke;
        // background-color:  rgb(187 190 255);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        z-index: 1;
      }
      .input-output {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .full-size-textarea {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          resize: none;
          border: none;
          padding: 10px;
          font-family: inherit;
          font-size: inherit;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  // Media query for smaller screens
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .result {
      grid-row: 2;
    }
  }
}

.header-bar {
  height: 7vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #f5f5f5;
  .items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
  }
}

.header-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icon {
  font-size: 1.2rem;
  color: #555;
  cursor: pointer;
}

.header-icon:hover {
  color: #000;
}

.header-button {
  background-color: rgb(90, 174, 70);
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  width: 120px;
  height: 32px;
}

.footer-button {
  padding: 10px 15px;
  background-color: rgb(113, 119, 233);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-button:hover {
  background-color: rgb(90, 110, 233);
}
.header-button:hover {
  background-color: #45a049;
}

.header-select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 0.9rem;
}

.header-select:focus {
  outline: none;
  border-color: #4caf50;
}
.import-export {
  display: flex;
  font-size: 19px;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #97c5a4;
  border-radius: 50%;
  width: 10px;
  display: inline-block;
  height: 10px;
  position: relative;
  top: 3px;
  left: -6px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
